<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Idea App | <%= yield(:title) %></title>
  </head>
  <body>
  
    <h1>Contact us</h1>
    <p> 
	Two students from the great University of Aberdeen, located just here (not available on the mobile version of the site):
    </p>
    <div id="map_canvas"></div>
  <style>
      #map_canvas {
        width: 500px;
        height: 400px;
      }
    </style>
      </body>
</html>
